
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="{% static 'main_page/css/forms.css' %}">
  <script src="{% static 'main_page/js/script.js' %}"></script>
</head>
<body>
<h2>Здравствуйте, какие планы на сегодня?</h2>
  <form  method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class ='feedback-form'>
      <h1>{{ field.label_tag}}</h1>
      {{ field.errors }}
      {{ field }}

    </div>
  {% endfor %}


  <input type="submit" value="Submit"  />
  </form>
</body>
</html>
