<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как вы?</title>
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <link rel="icon" href=" static/main_page/img/favicon.png " type="image/x-icon">
</head>
<body>

<div class="block-container">
    <div class="left-buttons-container">
        {% for day in days %}
        <a class="day-button" href="{%url 'info_dir' model_name=day %}">{{ day | title }} 01.01.1001</a>
        {% endfor %}

    </div>
    <div class="image-container">
        <img src="static/main_page/img/beautiful-scenery-of-sand-dunes-in-a-desert-area-on-a-sunny-day.jpg" alt="Картинка" class="center-image">
        <div class="marquee">
            <span id="motivation-text">{{ motivation.0 }}</span>
        </div>
    </div>
    <div class="right-buttons-container">
        <a href="{%url 'form_dir' %}" class="about-button">Какие планы на сегодня?</a>
        <a href="{%url 'todo_list' %}" class="all-button">Все ваши планы</a>

    </div>
</div>

<script>
    let phrases = [
        {% for phrase in motivation %}
            "{{ phrase }}",
        {% endfor %}
    ];
    let currentPhraseIndex = 0;
    const motivationText = document.getElementById('motivation-text');

    function getRandomPhrase() {
        return phrases[Math.floor(Math.random() * phrases.length)];
    }

    function changePhrase() {
        motivationText.textContent = getRandomPhrase();
    }

    setInterval(changePhrase, 10000); // Меняем фразу каждые 10 секунд
</script>

</body>
</html>