<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как вы?</title>
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <link rel="icon" href=" static/main_page/img/favicon.png " type="image/x-icon">
</head>
<body>

<div class="block-container">
    <div class="left-buttons-container">
        {% for day in days %}
        <a class="day-button" href="{%url 'info_dir' model_name=day %}">{{ day | title }} 01.01.1001</a>
        {% endfor %}

    </div>
    <div class="image-container">
        <img src="static/main_page/img/beautiful-scenery-of-sand-dunes-in-a-desert-area-on-a-sunny-day.jpg" alt="Картинка" class="center-image">
        <div class="marquee">
            <span id="motivation-text">{{ motivation.0 }}</span>
        </div>
    </div>
    <div class="right-buttons-container">
        <a href="{%url 'form_dir' %}" class="about-button">Какие планы на сегодня?</a>
        <a href="{%url 'todo_list' %}" class="all-button">Все ваши планы</a>

    </div>
</div>



    <!-- Блок для сообщений -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <!-- Основной контент -->
    {% block content %}{% endblock %}

    <!-- Опциональный JS для гарантированного скрытия -->


<script>
    let phrases = [
        {% for phrase in motivation %}
            "{{ phrase }}",
        {% endfor %}
    ];
    let currentPhraseIndex = 0;
    const motivationText = document.getElementById('motivation-text');

    function getRandomPhrase() {
        return phrases[Math.floor(Math.random() * phrases.length)];
    }

    function changePhrase() {
        motivationText.textContent = getRandomPhrase();
    }

    setInterval(changePhrase, 10000); // Меняем фразу каждые 10 секунд


        document.addEventListener('DOMContentLoaded', function() {
        const alerts = document.querySelectorAll('.alert');

        alerts.forEach(alert => {
            // Инициализация анимации
            setTimeout(() => {
                alert.classList.add('show');
            }, 50); // Небольшая задержка для активации перехода

            // Убираем сообщение
            setTimeout(() => {
                alert.classList.remove('show');
                alert.classList.add('hide');

                // Удаление элемента после анимации
                setTimeout(() => {
                    alert.remove();
                }, 800); // Совпадает с длительностью анимации 0.8s
            }, 4000);
        });
    });
</script>

</body>
</html>