<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как вы?</title>
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
</head>
<body>

<div class="block-container">
    <div class="left-buttons-container">
        {% for day in days %}
        <a class="day-button" href="{%url 'info_dir' model_name=day %}">{{ day | title }}</a>
        {% endfor %}
    </div>
    <img src="static/main_page/img/beautiful-scenery-of-sand-dunes-in-a-desert-area-on-a-sunny-day.jpg" alt="Картинка" class="center-image">
    <div class='right-buttons_container'>
    <a href="{%url 'form_dir' %}" class="about-button">Какие планы на сегодня?</a>
<!--    <div class="logo_tg">-->
<!--        <h1><img  src="{% static 'main_page/img/Logo.png' %}" width="50" height="50" align="middle" alt="TG logo">Используйте нашего бота в telegram</h1>-->
<!--    </div>-->
    </div>

</div>


</body>
</html>